
.containerr {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.card {
    border: 1px solid grey;
}

.card-header {
    background-color: #f2f2f2;
    padding: 10px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

h5 {
    margin-top: 15px;
}

h6 {
    margin-bottom: 5px;
}

/* Additional styling for the details */
.containerr h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.containerr h6 {
    margin-bottom: 10px;
}
